:root {
    --mainTransition: all 0.3s linear;
}
p {
    margin-bottom: 0;
}
a, a:hover {
    text-decoration: none;
    color: #fff;
}
.p-bold {
    font-weight: 700;
}
.productos {
    padding: 4rem 0;
}/*
.tituloProductos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
}*/
#header-tienda {
    /*background-image: url(img/fondo\ sprinkles.jpg);*/
    min-height: 40vh;
    width: 100%;
}
.grillaProductos {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.imagenContenedor {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--lila);
    color: var(--blanco);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.btn-comprar {
    background: var(--lila);
    color: var(--blanco);
    border: none;
    text-transform: uppercase;
    padding: 0.25rem 0.75rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}
.bag-btn:hover, .btn-comprar:hover {
    background: var(--amarillo);
    color: var(--gris);
    animation-name: salto;
    animation-duration: 0.4s;
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.imagenContenedor:hover .bag-btn {
    transform: translateX(0);
}
.imagenProducto {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
    cursor: pointer;
}
.producto h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}
.producto h4 {
    margin-top: 0.7rem;
    font-size: 1rem;
    color: var(--gris);
    text-align: center;
}
button.mercadopago-button {
    background-color: transparent;
}
button.mercadopago-button:hover {
    color: var(--gris);
}
.producto-detalle {
    min-height: 90vh;
}
.img-descripcion {
    width: 100%;
}
.box-detalles-compra {
    background-color: lightgrey;
}